*, *::before,*::after {
  box-sizing: border-box; /* Use this so that when I set width and height, it doesnt include paddings and stuff. Always do this. */
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}

html {
  font-size: 62.5%; /* good practice because makes math easier when using rem*/
}


body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom, #00FFFF, #66CDAA);
  background-repeat: no-repeat;
  background-attachment: fixed; /* fixed doesnt scroll with the page, local will scroll with page contents, scroll is default and will scroll with the page */
  background-position: center;

}


.entire-calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  padding: 5px solid rgb(107, 85, 126);
}


.entire-calculator > button {
  cursor: crosshair;
  border: 1px solid #20B2AA
  outline: none; /* <-- outline is something browsers put in by default that we don't need! */
  background-color: rgba(255, 255, 255, 0.70);
}


.entire-calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}


.bigger-button{
  grid-column: span 2;
  font-size: 2.75rem;
}

.thisOperator{
  font-size: 3rem;
}

.thisThing{
  font-size: 3rem;
}

.thisDelete{
  font-size: 2.75rem;
}

.answer {
  grid-column: 1 / -1; /* can also do span 4*/
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.answer .input1-with-operator {
  color: rgba(255, 255, 255, 0.75);
  font-size: 2.0rem;
}

.answer .input2 {
  color: rgb(255, 255, 255);
  font-size: 4.0rem;
}
